spring:
  application:
    name: online-book-store-backend
  datasource:
    url: jdbc:postgresql://localhost:5433/online_book_store
    username: admin
    password: admin@321
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 20MB
      enabled: true
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  servlet:
    context-path: /api/v1/
  port: 8088
